<h1>Editing comment</h1>

<%= render 'form' %>

<script type="text/javascript">
	$(".hidden").hide();
</script>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', site_comments_path(params[:site_id]) %>
